body{
    background-color: black;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}


button{
    height:50px;
    width:100px;
    padding:10px;
    border-radius: 10px;
}