body{
    background-color: black;
    color: white;
    height: 100vh;
}

#parent{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Boy{
    margin-bottom: 20px;
}

#Girl{
    margin-bottom: 20px;
}

button{
    height:20px;
    width: 100px;
    justify-self: center;
}